n8n-workflows/ticket-creation-workflow.json
{
  "name": "ClickUp Ticket Creation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "create-ticket"
    },
    {
      "parameters": {
        "url": "http://ticket-creator:3000/api/context",
        "options": {}
      },
      "id": "get-context",
      "name": "Get Company Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "model": "microsoft/phi-3-mini-128k-instruct:free",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "You are an expert engineering project manager. Create well-structured engineering tickets based on user descriptions and company context."
            },
            {
              "role": "user", 
              "content": "=COMPANY CONTEXT:\n{{ $node['Get Company Context'].json.context }}\n\nUSER DESCRIPTION:\n{{ $node['Webhook Trigger'].json.body.description }}\n\nCreate a structured engineering ticket with proper sections, acceptance criteria, and technical details. Return as JSON with fields: title, type, priority, summary, description, acceptanceCriteria, technicalNotes, estimatedComplexity, tags."
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "process-with-ai",
      "name": "Process with AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openrouter-credentials",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "listId": "={{ $node['Webhook Trigger'].json.body.listId || $env.CLICKUP_LIST_ID }}",
        "name": "={{ JSON.parse($node['Process with AI'].json.message.content).title }}",
        "description": "={{ JSON.parse($node['Process with AI'].json.message.content).description }}",
        "priority": "={{ JSON.parse($node['Process with AI'].json.message.content).priority }}",
        "additionalFields": {
          "tags": "={{ JSON.parse($node['Process with AI'].json.message.content).tags }}"
        }
      },
      "id": "create-clickup-task",
      "name": "Create ClickUp Task",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "clickUpApi": {
          "id": "clickup-credentials",
          "name": "ClickUp API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"ticket\": $node['Create ClickUp Task'].json,\n  \"processed\": JSON.parse($node['Process with AI'].json.message.content)\n} }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $node['Process with AI'].json.error || \"Unknown error occurred\"\n} }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Company Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company Context": {
      "main": [
        [
          {
            "node": "Process with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process with AI": {
      "main": [
        [
          {
            "node": "Create ClickUp Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create ClickUp Task": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}